{{#sections 'css'}}
<link rel="stylesheet" href="../assets/css/mycss/comment.css"/>
{{/sections}}
{{#each this.news}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="news-post-wrapper">
        <div class="news-post-wrapper-sm ">
          <h1 class="text-center">
            {{TieuDe}}
          </h1>
          <div class="text-center">
            <a href="./caterogy?id={{MaCM}}" class="btn btn-dark font-weight-bold mb-4">{{TenCM}}</a>
            {{#if ../UsPre}}<a href="news/print?id={{MaBV}}" class="btn btn-secondary font-weight-bold mb-4 print">Print</a>{{/if}}
          </div>
          <p
            class="fs-15 d-flex justify-content-center align-items-center m-0"
          >
            {{ButDanh}} | {{format_date NgayXuatBan}}
          </p>
        </div>
        {{{NoiDung}}}
          {{/each}}
        <div class="news-post-wrapper-sm mt-5">
          <div class="text-center pb-5 mb-1 border-bottom">
            {{#each Tags}}
            <a href="/news/caterogy?tag={{MaNhan}}" class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0">
              {{TenNhan}}
            </a>
            {{/each}}
          </div>
          <div>
            <section class="content-item" id="comments"  >
              <div class="container" style="padding-left: 0%">   
                <div class="row" >
                    <div class="col-sm-10">   
                        {{#if this.auth}}
                        <form method="POST" >
                            <div class="pull-left">New Comment</div>
                            <br>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2 hidden-xs">
                                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="height: 100px; width:100px">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                        <textarea class="form-control" id="message" placeholder="Your comment" required="" name ="message"></textarea>
                                    </div>
                                </div>  	
                            </fieldset>
                            
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-secondary " style="border-radius: 20px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="currentColor"  viewBox="0 0 16 16">
                                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"></path>
                                    </svg>
                                    Submit
                                </button>
                            </div>
                        
                        </form>
                        {{/if}}
                        <h3>Comments</h3>
                        
                        <!-- COMMENT 1 - START -->
                        {{#each this.Comments}}
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">{{TenUS}}</h4>
                                <p>{{NoiDung}}</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>{{format_date ThoiGian}}</li>
                                </ul>

                            </div>
                        </div>
                        {{/each}}
                        <!-- COMMENT 1 - END -->

                        
                    
                    </div>
                </div>
              </div>
            </section>
          </div>
          <h1 class="font-weight-600 text-center mb-5">
            You may also like
          </h1>
          {{#each this.fivePosts}}
          <div class="border-top py-5">
            <div class="row">
              <div class="col-sm-4">
                <div class="position-relative image-hover">
                  <img
                    src="{{LinkAnhDD}}"
                    alt="news"
                    class="img-fluid"
                  />
                  {{#if IsPremium}}
                        <img src ="../assets/images/icon.png" style="position:absolute; right:28px; top:5px; width:40px;height:40px;">
                  {{/if}}
                  <a href="news/caterogy?id={{MaCM}}"><span class="thumb-title">{{TenCM}}</span></a>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="position-relative image-hover">
                  <a href="?id={{MaBV}}">
                    <h1 class="font-weight-600">
                    {{TieuDe}}
                  </h1>
                  </a>
                  
                  <p class="fs-15">{{ButDanh}} | {{format_date NgayXuatBan}}</p>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
   