
<div class="container">
    <h2>Post</h2>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#menu0" 
        onclick = "addClass(`tab0`)" id="tab0" role="tab" aria-controls="nav-home" aria-selected="true">Published</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu1" 
        onclick = "addClass(`tab1`)" id="tab1" role="tab" aria-controls="nav-profile" aria-selected="false">Waiting for publication</a> 
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#menu2" 
        onclick = "addClass(`tab2`)" id="tab2" role="tab" aria-controls="nav-contact" aria-selected="false">Draft</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu3" 
        onclick = "addClass(`tab3`)" id="tab3" role="tab" aria-controls="nav-profile" aria-selected="false">Refuse</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#menu4" 
        onclick = "addClass(`tab4`)" id="tab4" role="tab" aria-controls="nav-contact" aria-selected="false">Deleted</a>
    </div>
</nav>
    <br>
    <div class="tab-content">

        <div id="menu0" class="tab-pane fade in active ">

            <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-10" >
                                <h4 class="m-0 font-weight-bold text-primary">List News</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <colgroup>
                                        <col width=auto span="1">
                                        <col width=auto span="3">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th style="text-align: center;">Type</th>
                                            <th style="text-align: center;">View</th>
                                            <th style="text-align: center;">Edit</th>
                                            
                                            <th style="text-align: center;">Delete</th>
                                            <th style="text-align: center;">Premium</th>
                                        </tr>
                                    </thead>
                                        
                                    <tfoot>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th style="text-align: center;">Type</th>
                                            <th style="text-align: center;">View</th>
                                            <th style="text-align: center;">Edit</th>
                                            
                                            <th style="text-align: center;">Delete</th>
                                            <th style="text-align: center;">Premium</th>
                                        </tr>
                                      </tfoot>
                                    <tbody>
{{#if this.empty_public}}
<h5 class="card-title">No data!</h5>
{{else}}
{{#each this.list_post_public}}
    <tr>
        <th style="text-align: center;"> <img src={{LinkAnhDD}} alt="..."  class="img-thumbnail" style="width:100%; height: 50px;"></th>
        <td>{{TieuDe}}</td>
        <td>{{TenCM}}</td>
        <td align="center">
            {{#if this.IsPremium}} Premium
            {{else}} Normal
            {{/if}}
        </td>
        <td align="center">
            <button type="button" class="btn btn-info" title="View" 
            data-toggle="modal" data-target="#myModal_View"
            onclick="admin_view(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                </svg>
            </button>
        </td>
        <td align="center">
            <button type="button" class="btn btn-primary" title="Edit" data-toggle="modal" data-target="#myModal_Edit"
                    onclick="tag_edit(`{{MaNhan}}`,`{{TenNhan}}`,`{{TrangThai}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                </svg>
                
            </button>
        </td>
        <td align="center">
            <button type="button" class="btn btn-danger" title="Delete"
            data-toggle="modal" data-target="#myModal_Delete"
            onclick="admin_delete(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                </svg>
            </button>
        </td>
        <td align="center">
            {{#if this.IsPremium}}
            <button type="button" class="btn btn-secondary" title="Exit Premium"
            data-toggle="modal" data-target="#myModal_Exit_Premium"
            onclick="admin_exit_premium(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293 6.854 5.146z"></path>
                </svg>
            </button>
            {{else}}
            <button type="button" class="btn btn-warning" title="Add Premium"
            data-toggle="modal" data-target="#myModal_Add_Premium"
            onclick="admin_add_premium(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"></path>
                </svg>
            </button>
            
            {{/if}}
        </td>
        
    </tr>
    {{/each}}
{{/if}}
</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

        </div>
        

         <div id="menu1" class="tab-pane fade ">

            <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-10" >
                                <h4 class="m-0 font-weight-bold text-primary">List News</h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <colgroup>
                                        <col width=auto span="1">
                                        <col width=auto span="2">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        <col width=auto span="1">
                                        
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th style="text-align: center;">Type</th>
                                            <th style="text-align: center;">View</th>
                                            <th style="text-align: center;">Edit</th>
                                            <th style="text-align: center;">Publish</th>
                                            <th style="text-align: center;">Delete</th>
                                            <th style="text-align: center;">Premium</th>
                                        </tr>
                                    </thead>
                                        
                                    <tfoot>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th style="text-align: center;">Type</th>
                                            <th style="text-align: center;">View</th>
                                            <th style="text-align: center;">Edit</th>
                                            <th style="text-align: center;">Publish</th>
                                            <th style="text-align: center;">Delete</th>
                                            <th style="text-align: center;">Premium</th>
                                        </tr>
                                      </tfoot>
                                    <tbody>
{{#if this.empty_approve}}
<h5 class="card-title">No data!</h5>
{{else}}
{{#each this.list_post_approve}}
<tr>
        <th style="text-align: center;"> <img src={{LinkAnhDD}} alt="..."  class="img-thumbnail" style="width:100%; height: 50px;"></th>
        <td>{{TieuDe}}</td>
        <td>{{TenCM}}</td>
        <td align="center">
            {{#if this.IsPremium}} Premium
            {{else}} Normal
            {{/if}}
        </td>
        <td align="center">
            <button type="button" class="btn btn-info" title="View" 
            data-toggle="modal" data-target="#myModal_View"
            onclick="admin_view(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                </svg>
            </button>
        </td>
        <td align="center">
            <button type="button" class="btn btn-primary" title="Edit" data-toggle="modal" data-target="#myModal_Edit"
                    onclick="admin_edit(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`,`{{MaCM}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                </svg>
                
            </button>
        </td>
        <td align="center">
           <button type="button" class="btn btn-success" title="Publish" data-toggle="modal" data-target="#myModal_Public"
                    onclick="admin_public(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                </svg>
            </button>
        </td>
        <td align="center">
            <button type="button" class="btn btn-danger" title="Delete"
            data-toggle="modal" data-target="#myModal_Delete"
            onclick="admin_delete(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                </svg>
            </button>
        </td>
        <td align="center">
            {{#if this.IsPremium}}
            <button type="button" class="btn btn-secondary" title="Exit Premium"
            data-toggle="modal" data-target="#myModal_Exit_Premium"
            onclick="admin_exit_premium(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293 6.854 5.146z"></path>
                </svg>
            </button>
            {{else}}
            <button type="button" class="btn btn-warning" title="Add Premium"
            data-toggle="modal" data-target="#myModal_Add_Premium"
            onclick="admin_add_premium(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`,`{{LinkAnhDD}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"></path>
                </svg>
            </button>
            
            {{/if}}
        </td>
        
    </tr>
    {{/each}}
{{/if}}
</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

        </div>

        <div id="menu2" class="tab-pane fade">
            {{#if this.empty_waitting}}
            <h5 class="card-title">No data!</h5>
            {{else}}
            {{#each this.list_post_waitting}}


            <div class="card mb-3" style="border: 0; padding-left: 15px; padding-right: 15px">
                <div class="row no-gutters"
                    style="padding: 1%; border: 1px solid gray; border-radius:  20px; box-shadow: 2px 2px #888888;">
                    <div class="col-md-4" style="padding-right: 2%;">
                        <img src={{LinkAnhDD}} alt="..." style="width:100%; height: 210px;" class="mx-auto d-block">
                    </div>
                    <div class="col-md-8">

                        <h5 class="card-title">{{TieuDe}}</h5>
                        <p class="card-text">{{TomTat}}</p>
                        <div id="tags_approve{{MaBV}}">
                            {{#each listTag}}
                            {{TenNhan}}.
                            {{/each}}
                        </div>
                        <div style=" position: absolute;bottom:0px;right:0px">
                            <button type="button" class="btn btn-primary">Read</button>
                            <button type="button" class="btn btn-success" href="#" >Edit</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#myModal_Delete"
                                onclick="action_delete(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`)">Delete</button>

                        </div>

                        <div>
                            <p class="card-text" style=" position: absolute;bottom:0px;"> <small class="text-muted">
                                    {{TenCM}}
                                </small>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>

        <div id="menu3" class="tab-pane fade">
            {{#if this.empty_refuse}}
            <h5 class="card-title">No data!</h5>
            {{else}}
            {{#each this.list_post_refuse}}


            <div class="card mb-3" style="border: 0; padding-left: 15px; padding-right: 15px">
                <div class="row no-gutters"
                    style="padding: 1%; border: 1px solid gray; border-radius:  20px; box-shadow: 2px 2px #888888;">
                    <div class="col-md-4" style="padding-right: 2%;">
                        <img src={{LinkAnhDD}} alt="..." style="width:100%; height: 210px;" class="mx-auto d-block">
                    </div>
                    <div class="col-md-8">

                        <h5 class="card-title">{{TieuDe}}</h5>
                        <p class="card-text">{{TomTat}}</p>
                        <div id="tags_approve{{MaBV}}">
                            {{#each listTag}}
                            {{TenNhan}}.
                            {{/each}}
                        </div>
                        <div style=" position: absolute;bottom:0px;right:0px">
                            <button type="button" class="btn btn-primary">Read</button>
                            <button type="button" class="btn btn-success" href="#" >Edit</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#myModal_Delete"
                                onclick="action_delete(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`)">Delete</button>

                        </div>

                        <div>
                            <p class="card-text" style=" position: absolute;bottom:0px;"> <small class="text-muted">
                                    {{TenCM}}
                                </small>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>

        <div id="menu4" class="tab-pane fade">
            {{#if this.empty_deleted}}
            <h5 class="card-title">No data!</h5>
            {{else}}
            {{#each this.list_post_deleted}}

            <div class="card mb-3" style="border: 0; padding-left: 15px; padding-right: 15px">
                <div class="row no-gutters"
                    style="padding: 1%; border: 1px solid gray; border-radius:  20px; box-shadow: 2px 2px #888888;">
                    <div class="col-md-4" style="padding-right: 2%;">
                        <img src={{LinkAnhDD}} alt="..." style="width:100%; height: 210px;" class="mx-auto d-block">
                    </div>
                    <div class="col-md-8">

                        <h5 class="card-title">{{TieuDe}}</h5>
                        <p class="card-text">{{TomTat}}</p>
                        <div id="tags_approve{{MaBV}}">
                            {{#each listTag}}
                            {{TenNhan}}.
                            {{/each}}
                        </div>
                        <div style=" position: absolute;bottom:0px;right:0px">
                            <button type="button" class="btn btn-primary">Read</button>
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#myModal_???"
                                onclick="bv_deleted(`{{MaBV}}`,`{{TieuDe}}`,`{{TenCM}}`,`{{TomTat}}`)">Edit</button>

                        </div>

                        <div>
                            <p class="card-text" style=" position: absolute;bottom:0px;"> <small class="text-muted">
                                    {{TenCM}}
                                </small>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>

    </div>
</div>

<div class="modal" id="myModal_Delete">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <form action="/admin/view/post/delete" method="POST">
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            <div  id="del_mabv1"></div>
                            <div hidden>
                                <textarea name="txtCode" id="del_mabv" rows="1" cols="47" readonly  ></textarea>
                            </div>
                            <br>
                            <h5>Image:</h5>
                            <div>
                            <img id="del_anh" alt="..."  style="width:100%; height: 200px;">
                            </div>
                            <br>
                            <h5>Title:</h5>
                            <div  id="del_tieude"></div>
                            <br>
                            <h5>Summary:</h5>
                            <div  id="del_tomtat"></div>
                            <br>
                            <h5>Category:</h5>
                             <div  id="del_tencm"></div>                            
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-danger"> Delete </button>
                </form>
            </div>
            <!-- Modal footer -->
            {{!-- <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Gửi</button>
            </div> --}}
        </div>
    </div>
</div>
<div class="modal" id="myModal_Add_Premium">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Premium</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <form action="/admin/view/post/add_premium" method="POST">
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            <div  id="add_mabv1"></div>
                            <div hidden>
                                <textarea name="txtCode" id="add_mabv" rows="1" cols="47" readonly  ></textarea>
                            </div>
                            <br>
                            <h5>Image:</h5>
                            <div>
                            <img id="add_anh" alt="..."  style="width:100%; height: 200px;">
                            </div>
                            <br>
                            <h5>Title:</h5>
                            <div  id="add_tieude"></div>
                            <br>
                            <h5>Summary:</h5>
                            <div  id="add_tomtat"></div>
                            <br>
                            <h5>Category:</h5>
                             <div  id="add_tencm"></div>                            
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-warning"> Add Premium </button>
                </form>
            </div>
            <!-- Modal footer -->
            {{!-- <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Gửi</button>
            </div> --}}
        </div>
    </div>
</div>
<div class="modal" id="myModal_Exit_Premium">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Exit Premium</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <form action="/admin/view/post/exit_premium" method="POST">
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            <div  id="exit_mabv1"></div>
                            <div hidden>
                                <textarea name="txtCode" id="exit_mabv" rows="1" cols="47" readonly  ></textarea>
                            </div>
                            <br>
                            <h5>Image:</h5>
                            <div>
                            <img id="exit_anh" alt="..."  style="width:100%; height: 200px;">
                            </div>
                            <br>
                            <h5>Title:</h5>
                            <div  id="exit_tieude"></div>
                            <br>
                            <h5>Summary:</h5>
                            <div  id="exit_tomtat"></div>
                            <br>
                            <h5>Category:</h5>
                             <div  id="exit_tencm"></div>                            
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-secondary"> Exit Premium </button>
                </form>
            </div>
            <!-- Modal footer -->
            {{!-- <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Gửi</button>
            </div> --}}
        </div>
    </div>
</div>
<div class="modal" id="myModal_Public">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Public</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <form action="/admin/view/post/publish" method="POST">
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            <div  id="pb_mabv1"></div>
                            <div hidden>
                                <textarea name="txtCode" id="pb_mabv" rows="1" cols="47" readonly  ></textarea>
                            </div>
                            <br>
                            <h5>Image:</h5>
                            <div>
                            <img id="pb_anh" alt="..."  style="width:100%; height: 200px;">
                            </div>
                            <br>
                            <h5>Title:</h5>
                            <div  id="pb_tieude"></div>
                            <br>
                            <h5>Summary:</h5>
                            <div  id="pb_tomtat"></div>
                            <br>
                            <h5>Category:</h5>
                             <div  id="pb_tencm"></div>                            
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-success"> Public </button>
                </form>
            </div>
            <!-- Modal footer -->
            {{!-- <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Gửi</button>
            </div> --}}
        </div>
    </div>
</div>
<div class="modal" id="myModal_Edit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <form action="/admin/view/post/edit" method="POST">
                    <div class="container">
                          <div class="form-group">
                            <h5>Code:</h5>
                            <div  id="ad_edit_code1"></div>
                            <div hidden>
                                <textarea name="txtCode" id="ad_edit_code" rows="1" cols="47" readonly  ></textarea>
                            </div>
                            <br>
                            <h5>Image:</h5>
                            <div>
                            <img id="ad_edit_anh" alt="..."  style="width:100%; height: 200px;">
                            </div>
                            <br>
                            <h5>Title:</h5>
                            <div  id="ad_edit_tieude"></div>
                            <br>
                            <h5>Summary:</h5>
                            <div  id="ad_edit_tt"></div>
                            <br>                        
                        </div>

                        <div class="form-group">
                            <label style="font-weight: bold;">Category:</label>
                            {{!-- <div>
                                <textarea name="txtCode" id="category_approve" rows="1" cols="6"> </textarea>
                                <button>Edit</button>
                            </div> --}}
                            <select id="ad_edit_cm" class="form-control" name="txtCategory">
                                {{#each this.allcategory}}
                                <option value="{{MaCM}}">{{TenCM}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">

                            <label style="font-weight: bold;">Edit Tag:</label>
                            <br>
                           <select multiple name="txtTag" title="Tag ... " data-live-search="true"
                           id="list1">

                           </select>
                            
                        </div>

                        <div class="form-group">
                            <label style="font-weight: bold;" for="comment">Publication date:</label>
                            <input type="date" class="form-control" id="comment" name="txtPublicationdate"></textarea>
                            <br>
                            
                        </div>

                    </div>
                    {{!-- <div class="container">
                        <div class="form-group">
                            <label for="comment">Publication date (dd/mm/yyyy):</label>
                            <textarea class="form-control" rows="1" id="comment" name="txtngaydang"></textarea>
                        </div>
                    </div> --}}
                    <button type="submit" class="btn btn-success"> Edit </button>
                </form>
            </div>
            <!-- Modal footer -->
            {{!-- <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Gửi</button>
            </div> --}}
        </div>
    </div>
</div>
<script>
    function admin_delete(MaBV,TieuDe,TenCM,TomTat,LinkAnhDD) {
      document.getElementById('del_mabv1').textContent = MaBV;
      document.getElementById('del_mabv').textContent = MaBV;
      document.getElementById('del_tieude').textContent = TieuDe;
      document.getElementById('del_tencm').textContent = TenCM;
      document.getElementById('del_tomtat').textContent = TomTat;
      document.getElementById("del_anh").src = LinkAnhDD;
    };
    function admin_add_premium(MaBV,TieuDe,TenCM,TomTat,LinkAnhDD) {
      document.getElementById('add_mabv1').textContent = MaBV;
      document.getElementById('add_mabv').textContent = MaBV;
      document.getElementById('add_tieude').textContent = TieuDe;
      document.getElementById('add_tencm').textContent = TenCM;
      document.getElementById('add_tomtat').textContent = TomTat;
      document.getElementById("add_anh").src = LinkAnhDD;
    };
    function admin_exit_premium(MaBV,TieuDe,TenCM,TomTat,LinkAnhDD) {
      document.getElementById('exit_mabv1').textContent = MaBV;
      document.getElementById('exit_mabv').textContent = MaBV;
      document.getElementById('exit_tieude').textContent = TieuDe;
      document.getElementById('exit_tencm').textContent = TenCM;
      document.getElementById('exit_tomtat').textContent = TomTat;
      document.getElementById("exit_anh").src = LinkAnhDD;
    };
    function admin_public(MaBV,TieuDe,TenCM,TomTat,LinkAnhDD) {
      document.getElementById('pb_mabv1').textContent = MaBV;
      document.getElementById('pb_mabv').textContent = MaBV;
      document.getElementById('pb_tieude').textContent = TieuDe;
      document.getElementById('pb_tencm').textContent = TenCM;
      document.getElementById('pb_tomtat').textContent = TomTat;
      document.getElementById("pb_anh").src = LinkAnhDD;
    };
    function admin_edit(MaBV,TieuDe,TenCM,TomTat,LinkAnhDD,MaCM) {
    $.ajax
      ({
        url  : `/admin/get_tag`,
        type : "POST",
        cache:false,
        data : {MaBV},
        success:function(response){
          
         //console.log(response.tag1[0].MaNhan);
         let src="";
         let tmp1=response.tag1;
         let tmp2=response.tag2;
        
         for(let i=0;i<response.tag1.length;i++)
         {
           let temp1=tmp1[i].MaNhan;
           let temp2=tmp1[i].TenNhan;
           //src=src+`<option value='${tmp1[i].MaNhan}' selected>${tmp1[i].TenNhan}</option>`
           src=src+`<option value="`+temp1+`"selected class="opt-remove">`+temp2+`</option>`
         }
         //console.log(src);
         for(let i=0;i<response.tag2.length;i++)
         {
           src=src+`<option value='${tmp2[i].MaNhan}' class="opt-remove">${tmp2[i].TenNhan}</option>`
         }
         $('.opt-remove').remove();
         $('#list1').selectpicker();
         console.log(src);
         $("#list1").append(src);
         $('#list1').selectpicker('refresh');
         }
      });
      document.getElementById('ad_edit_code1').textContent = MaBV;
      document.getElementById('ad_edit_code').textContent = MaBV;
      document.getElementById('ad_edit_anh').textContent = LinkAnhDD;
      document.getElementById('ad_edit_tieude').textContent = TieuDe;
      document.getElementById('ad_edit_cm').textContent = MaCM;
      document.getElementById("ad_edit_tt").src = TomTat;
    };
</script>








