<h4>Tag</h4>
<div style="margin-right">
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal_Add">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
    </svg> Add Tag
</button>
</div>

<table class="table table-striped">
<thead>
<tr>
    <th scope="col">Tag Code</th>
    <th scope="col">Value</th>
    <th scope="col">Status</th>
</tr>
</thead>
<tbody>
{{#if this.empty}}
    <h5 class="card-title">No data!</h5>
{{else}}
    {{#each this.list_tag}}
    <tr>
        <th scope="row">{{MaNhan}}</th>
        <td>{{TenNhan}}</td>
        <td>{{TrangThai}}</td>

        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_Delete"
                    onclick="tag_del(`{{MaNhan}}`,`{{TenNhan}}`,`{{TrangThai}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
                Delete
            </button>
    
        
            <button type="button" class="btn btn-info"data-toggle="modal" data-target="#myModal_Edit"
                    onclick="tag_edit(`{{MaNhan}}`,`{{TenNhan}}`,`{{TrangThai}}`)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                </svg>
                Edit
            </button>
        </td>
    </tr>
    {{/each}}
{{/if}}
</tbody>
</table>

<!-- _______________________________________Modal_______________________________________  -->
<div class="modal" id="myModal_Delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/admin/view/tag/delete" method="POST">
                    <div class="container">

                    </div>
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            {{!-- <textarea readonly name="txtCode" id="mabv_refuse" rows="1" cols="6"> </textarea> --}}
                            <div>
                                <textarea name="txtCode" id="del_code" rows="1" cols="47" readonly></textarea>
                            </div>
                            <h5>Value:</h5>
                            <div aria-readonly="true" id="del_value">
                            </div>
                            <h5>Status:</h5>
                            <div aria-readonly="true" id="del_status">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger"> Delete </button>
                </form>
            </div>
            <!-- Modal footer -->

        </div>
    </div>
</div>

<div class="modal" id="myModal_Edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/admin/view/tag/edit" method="POST">
                    <div class="container">

                    </div>
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            {{!-- <textarea readonly name="txtCode" id="mabv_refuse" rows="1" cols="6"> </textarea> --}}
                            <div>
                                <textarea name="txtCode" id="edit_code" rows="1" cols="47" readonly></textarea>
                            </div>
                            <h5>Value:</h5>
                            <div>
                                <textarea name="txtValue" id="edit_value" rows="1" cols="47" ></textarea>
                            </div>
                            <h5>Status:</h5>
                            <div>
                                <textarea name="txtStatus"  id="edit_status" rows="1" cols="47" ></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info"> Edit </button>
                </form>
            </div>
            <!-- Modal footer -->

        </div>
    </div>
</div>

<div class="modal" id="myModal_Add">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/admin/view/tag/add" method="POST">
                    <div class="container">

                    </div>
                    <div class="container">
                        <div class="form-group">
                            <h5>Code:</h5>
                            {{!-- <textarea readonly name="txtCode" id="mabv_refuse" rows="1" cols="6"> </textarea> --}}
                            <div>
                                <textarea name="txtCode" id="add_code" rows="1" cols="47" ></textarea>
                            </div>
                            <h5>Value:</h5>
                            <div>
                                <textarea name="txtValue" id="add_value" rows="1" cols="47" ></textarea>
                            </div>
                            <h5>Status:</h5>
                            <div>
                                <textarea name="txtStatus"  id="add_status" rows="1" cols="47" ></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success"> Add </button>
                </form>
            </div>
            <!-- Modal footer -->

        </div>
    </div>
</div>

<script>
    function tag_del(MaNhan,TenNhan,TrangThai) {
      document.getElementById('del_code').textContent = MaNhan;
      document.getElementById('del_value').textContent = TenNhan;
      document.getElementById('del_status').textContent = TrangThai;
    };
    function tag_edit(MaNhan,TenNhan,TrangThai) {
      document.getElementById('edit_code').textContent = MaNhan;
      document.getElementById('edit_name').textContent = TenNhan;
      document.getElementById('edit_status').textContent = TrangThai;
    };
</script>